* {
  margin: 0;
  padding: 0;
  color: rgb(51, 98, 160) !important;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: rgb(16, 13, 9);
}

nav {
  background-color: rgb(228, 225, 220);
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
  color: white;
}

.toggle-menu {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.toggle-menu input {
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 28px;
  left: -7px;
  cursor: pointer;
  z-index: 3;
}

/* animation burger */
.toggle-menu span:nth-child(2) {
  transform-origin: 0 0;
  transition: all 0.5s;
}

.toggle-menu input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -2px);
  background-color: rgb(18, 101, 209);
}

.toggle-menu span:nth-child(4) {
  transition: all 0.5s;
  transform-origin: 0 100%;
}

.toggle-menu input:checked~span:nth-child(4) {
  background-color: rgb(51, 98, 160);
  transform: rotate(-45deg) translate(0px, 0px);
}

.toggle-menu input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.toggle-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: rgb(22, 59, 180);
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    z-index: 2;
    background-color: rgba(89, 83, 83, 0.5);
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
  }

  .toggle-menu {
    display: flex;
    /* overflow-x: hidden; */
  }

  nav ul.slide {
    transform: translateX(0);
    transition: all 0.5s;
    opacity: 1;
  }
}